testProgram/fina/src/fina2/returns/fina-returns.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="BODY-TYPE">
		<xs:sequence>
			<xs:element name="ITEM" type="ITEM-TYPE" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HEADER-TYPE">
		<xs:sequence>
			<xs:element name="BANKCODE" type="xs:string"/>
			<xs:element name="BANKNAME" type="xs:string"/>
			<xs:element name="RETURNCODE" type="xs:string"/>
			<xs:element name="RETURNNAME" type="xs:string"/>
			<xs:element name="PERIODFROM" type="xs:string"/>
			<xs:element name="PERIODEND" type="xs:string"/>
			<xs:element name="VER" type="xs:string"/>
			<xs:element name="SIGNED" type="xs:string"/>
			<xs:element name="LNG" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ITEM-TYPE">
		<xs:sequence>
			<xs:element name="ITEMCODE" type="xs:string"/>
			<xs:element name="ROW" type="xs:int"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RETURN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HEADER" type="HEADER-TYPE"/>
				<xs:element name="BODY" type="BODY-TYPE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
